<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edukatrip.edukatrip">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/notifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MoreActivity"
            android:label="@string/more"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateTimelineActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PaymentReportActivity" />
        <activity android:name=".ReviewBookingActivity" />
        <activity
            android:name=".DetailEduTourActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddNextDestinationActivity" />
        <activity
            android:name=".PaymentActivity"
            android:label="Payment" />
        <activity
            android:name=".BookTourActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChoosePaymentActivity"
            android:label="@string/choose_payment_method" />
        <activity
            android:name=".ChooseWhatActivity"
            android:label="@string/choose_what_you_need" />
        <activity
            android:name=".DetailWisataActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChooseTourGuideActivity" />
        <activity
            android:name=".login.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseDateActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>